<style>
    #general {
        width: 100%;
        height: 100%;
    }

    .tab-top {
        width: 100%;
        height: 0.2rem;
        background: #0099FF;
        line-height: 0.2rem;
        text-align: center;
    }

    .content {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .twos-line {
        width: 96%;
        background: #C0C0C0;
        margin-top: 0.04rem;
        margin-left: 0.05rem;
    }

    .item-line-one {
        width: 100%;
        padding: 0.04rem 0;
    }

    .item-line-two {
        padding: 0.04rem 0;
    }

    .go-icon {
        display: block;
        width: 0.1rem;
        height: 0.1rem;
        background: url(img/go.png) no-repeat center;
        background-size: 100%;
    }

    .g-list-item {
        width: 96%;
        padding: 0.04rem 0;
        background: #C0C0C0;
        margin-left: 0.05rem;
        margin-top: 0.04rem;
    }

    .g-list-item .left {
        width: 75%;
        margin-left: 0.05rem;
    }

    .g-list-item .right {
        width: 18%;
        height: 100%;
        justify-content: center;
    }

    .item-line-two {
        width: 96%;
        padding: 0.04rem 0;
        background: #C0C0C0;
        margin-left: 0.05rem;
        margin-top: 0.04rem;
    }
</style>
<div id="general" class="flex col">
    <div class="tab-top fz-10 c-ff">通用</div>
    <div class="content flex col fl-align">
        <div class="twos-line flex col">
            <div class="item-line-one flex fl-align fl-jsb">
                <span class="fz-7 c-00" style="margin-left: 0.04rem;">牌号</span>
                <van-switch v-model="checked" style="margin-right: 0.04rem;" />
            </div>
            <div class="item-line-two flex fl-align fl-jsb">
                <div class="flex col fz-7" style="width: 75%;">
                    <span class="c-00">牌号生产方式</span>
                    <span>自动生成：系统每天凌晨4点，从牌号1开始递增生成默认牌号</span>
                </div>
                <div class="flex fz-7">
                    <span>手动输入</span>
                    <i class="go-icon"></i>
                </div>
            </div>
        </div>
        <div class="twos-line flex col">
            <div class="item-line-one flex fl-align fl-jsb">
                <span class="fz-7 c-00" style="margin-left: 0.04rem;">税收</span>
                <van-switch v-model="checked" style="margin-right: 0.04rem;" />
            </div>
            <div class="item-line-two flex fl-align fl-jsb">
                <span class="c-00 fz-7">税率设置</span>
                <div class="flex fz-7">
                    <span>0%</span>
                    <i class="go-icon"></i>
                </div>
            </div>
        </div>
        <div class="twos-line flex col">
            <div class="item-line-one flex fl-align fl-jsb">
                <span class="fz-7 c-00" style="margin-left: 0.04rem;">库存</span>
                <van-switch v-model="checked" style="margin-right: 0.04rem;" />
            </div>
            <div class="item-line-one flex fl-align fl-jsb">
                <span class="fz-7 c-00" style="margin-left: 0.04rem;">库存未负可售</span>
                <van-switch v-model="checked" style="margin-right: 0.04rem;" />
            </div>
        </div>
        <div class="g-list-item flex fl-align fl-jsb">
            <div class="left flex col fz-7">
                <span class="c-00">成本</span>
                <span>开启后，添加商品时需要输入成本价，销售统计会统计利润</span>
            </div>
            <van-switch v-model="checked" style="margin-right: 0.04rem;" />
        </div>
        <div class="g-list-item flex fl-align fl-jsb">
            <div class="left flex col fz-7">
                <span class="c-00">条码商品</span>
                <span>开启后，可添加含有条码的商品</span>
            </div>
            <van-switch v-model="checked" style="margin-right: 0.04rem;" />
        </div>
        <div class="twos-line flex col">
            <div class="item-line-two flex fl-align fl-jsb">
                <div class="flex col fz-7" style="width: 84%;">
                    <span class="c-00">通讯称</span>
                    <span>开启后，可添加散装称重商品，收银时通讯称直接把重量传输到收银系统。</span>
                </div>
                <van-switch v-model="checked" />
            </div>
            <div class="item-line-two flex fl-align fl-jsb">
                <div class="flex col fz-7">
                    <span class="c-00">称重标签小票模板</span>
                </div>
                <div class="flex fz-7">
                    <span>手动输入</span>
                    <i class="go-icon"></i>
                </div>
            </div>
        </div>
        <div class="item-line-two flex fl-align fl-jsb">
            <div class="flex col fz-7" style="margin-left: 0.04rem;">
                <span class="c-00">商品排序</span>
            </div>
            <div class="flex fz-7" style="margin-right: 0.04rem;">
                <span>商品新增顺序</span>
                <i class="go-icon"></i>
            </div>
        </div>
        <div class="item-line-two flex fl-align fl-jsb">
            <div class="flex col fz-7" style="margin-left: 0.04rem;">
                <span class="c-00">商品图片展示</span>
            </div>
            <van-switch v-model="checked" style="margin-right: 0.04rem;" />
        </div>
        <div class="g-list-item flex fl-align fl-jsb">
            <div class="left flex col fz-7">
                <span class="c-00">计次卡</span>
                <span>开启后，可使用计次卡功能</span>
            </div>
            <van-switch v-model="checked" style="margin-right: 0.04rem;" />
        </div>
        <div class="g-list-item flex fl-align fl-jsb">
            <div class="left flex col fz-7">
                <span class="c-00">销售提成</span>
                <span>开启后，可关联销售员进行提成</span>
            </div>
            <van-switch v-model="checked" style="margin-right: 0.04rem;" />
        </div>
        <div class="item-line-two flex fl-align fl-jsb">
            <div class="flex col fz-7" style="margin-left: 0.04rem;">
                <span class="c-00">自带打印机字体</span>
            </div>
            <div class="flex fz-7" style="margin-right: 0.04rem;">
                <span>常规字体</span>
                <i class="go-icon"></i>
            </div>
        </div>
        <div class="item-line-two flex fl-align fl-jsb">
            <div class="flex col fz-7" style="margin-left: 0.04rem;">
                <span class="c-00">结账小票打印数量</span>
            </div>
            <div class="flex fz-7" style="margin-right: 0.04rem;">
                <span>14</span>
                <i class="go-icon"></i>
            </div>
        </div>
    </div>
</div>