<style>
	#payway {
		width: 100%;
		height: 100%;
	}
	
	.tab-top {
		width: 100%;
		height: 0.2rem;
		background: #0099FF;
		line-height: 0.2rem;
		justify-content: flex-end;
	}
	
	.sort {
		width: 0.25rem;
		height: 0.15rem;
		text-align: center;
		line-height: 0.15rem;
		border-radius: 0.02rem;
		margin-left: 0.55rem;
	}
	
	.add {
		width: 0.25rem;
		height: 0.15rem;
		text-align: center;
		line-height: 0.15rem;
		border-radius: 0.02rem;
		margin-left: 0.1rem;
		margin-right: 0.08rem;
	}
	
	.content {
		width: 100%;
		height: 100%;
		overflow-y: scroll;
	}
	
	.pay-list-item {
		width: 96%;
		padding: 0.04rem 0;
		background: #C0C0C0;
		margin-left: 0.05rem;
		margin-top: 0.04rem;
	}
	
	.left {
		margin-left: 0.04rem;
		width: 82%;
	}
	
	.right {
		width: 18%;
		height: 100%;
		justify-content: center;
	}
</style>
<div id="payway" class="flex col">
	<div class="tab-top fz-10 flex fl-align">
		<span class="c-ff">支付方式</span>
		<span class="sort b-ff fz-7" style="color: #0066CC;">排序</span>
		<span class="add b-ff fz-7" style="color: #0066CC;">添加</span>
	</div>
	<div class="content flex col b-ff">
		<div class="fz-7 c-00" style="margin: 0.04rem 0px 0rem 0.05rem;">您可以开启或者添加店内常用的收款方式</div>
		<div class="pay-list-item flex fl-align">
			<div class="left flex col fz-7">
				<span class="c-00">现金</span>
				<span>顾客试用现金付款时试用。（仅记账，不涉及与本平台结算）</span>
			</div>
			<div class="right flex fl-align">
				<van-switch v-model="checked" />
			</div>
		</div>
		<div class="pay-list-item flex fl-align">
			<div class="left flex col fz-7">
				<span class="c-00">现金</span>
				<span>顾客试用现金付款时试用	。（仅记账，不涉及与本平台结算）</span>
			</div>
			<div class="right flex fl-align">
				<van-switch v-model="checked" />
			</div>
		</div>
		<div class="pay-list-item flex fl-align">
			<div class="left flex col fz-7">
				<span class="c-00">现金</span>
				<span>顾客试用现金付款时试用	。（仅记账，不涉及与本平台结算）</span>
			</div>
			<div class="right flex fl-align">
				<van-switch v-model="checked" />
			</div>
		</div>
		<div class="pay-list-item flex fl-align">
			<div class="left flex col fz-7">
				<span class="c-00">现金</span>
				<span>顾客试用现金付款时试用	。（仅记账，不涉及与本平台结算）</span>
			</div>
			<div class="right flex fl-align">
				<van-switch v-model="checked" />
			</div>
		</div>
		<div class="pay-list-item flex fl-align">
			<div class="left flex col fz-7">
				<span class="c-00">现金</span>
				<span>顾客试用现金付款时试用	。（仅记账，不涉及与本平台结算）</span>
			</div>
			<div class="right flex fl-align">
				<van-switch v-model="checked" />
			</div>
		</div>
	</div>
</div>